/Buoi1/Bai1/nbproject/private/
/Buoi1/Bai1/build/
/Buoi1/Bai2/nbproject/private/
/Buoi1/Bai2/build/
/Buoi1/Bai3/nbproject/private/
/Buoi1/Bai3/build/
/Buoi1/Bai4/nbproject/private/
/Buoi1/Bai5/nbproject/private/
/Buoi1/Bai6/nbproject/private/
/Buoi1/Bai7/nbproject/private/
/Buoi1/Bai8/nbproject/private/
/Buoi1/Bai8/build/
/Buoi1/Bai9/nbproject/private/
/Buoi1/Bai9/build/
/Buoi1/Bai10/nbproject/private/
/Bai9/nbproject/private/
/Bai10/nbproject/private/
/Buoi1/Bai10/build/
/Buoi1/Bai11/nbproject/private/
/Buoi1/Bai12/nbproject/private/
/Buoi1/JavaApplication13/nbproject/private/
/Buoi1/bai13/nbproject/private/
/Buoi1/Bai14/nbproject/private/
/Buoi1/Bai15/nbproject/private/
/Buoi1/Bai16/nbproject/private/
/Buoi1/Bai17/nbproject/private/
/Buoi1/Bai18/nbproject/private/
/Buoi1/Bai19/nbproject/private/
/Buoi1/Bai20/nbproject/private/
